@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: scroll;
}
html {
  font-family: "Lexend", sans-serif;
}

.navigation {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: #38b2ac;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  z-index: 1;
}

@media (max-width: 457px){
  .navigation{
    flex-direction: column;
    height: 100%;
    padding: 1rem;
  }
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items {
  color: #ffff;
  display: flex;
  gap: 0.5rem;
}

.nav-items > .title {
  font-size: 1.2rem;
}

.nav-items > svg {
  width: 40px;
  height: 40px;
  object-fit: cover;
  color: #ffff;
}

.add-place {
  padding: 10px 15px;
  background: none;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.add-place:hover {
  background-color: #fff;
}

.add-place > a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #ffff;
  /* transition: all 300ms ease; */
}
.add-place:hover a {
  color: #38b2ac;
}

/* filters */

.filters {
  width: 90%;
  margin: 30px 2rem;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.filtered-items {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.filtered-items > .title {
  font-size: 2rem;
  font-weight: 200;
}
.filter-wrapper {
  display: flex;
  gap: 5rem;
}
@media (max-width: 475px) {
  .filter-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    border: 1px solid red;
  }
}
@media (max-width: 904px) {
  .filters {
    display: block;
  }
  .filter-wrapper {
    /* gap: 1rem; */
    margin: 0 auto;
  }
  .filtered-place,
  .filtered-items,
  .filtered-items > .title,
  .tell-me {
    margin: 0 auto;
  }
  .tell-me {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.items > .category {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #b4c1d0;
}

.item-filters > label {
  display: flex;
  gap: 0.25rem;
}

label > span {
  font-size: 0.9rem;
  font-weight: 300px;
  text-transform: capitalize;
  color: #696974;
}

.tell-me {
  width: 200px;
  padding: 1rem;
  color: #fff;
  background-color: #38b2ac;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 300ms ease;
}
.tell-me:hover {
  transform: translateY(-4px);
}

.filtered-place {
  width: 550px;
  height: 100%;
  border-radius: 5px;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3); */
}
.filtered-place>.gif{
  display: none;
}
@media (max-width: 646px) {
  .filtered-place {
    width: 90%;
  }
}
.text-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

}
.text-wrapper>.place-image-filtered{
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.text-wrapper.inactive{
  display: none;
}

.place-description{
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.place-description > .title {
  font-size: 1.3rem;
}

.place-description > .description {
  font-size: 0.7rem;
  line-height: 1.5rem;
  color: #696974;
}

.tags {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.tags > li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #edf2f7;
  padding: 0.5rem;
  border-radius: 15px;
  cursor: pointer;
}

li > span {
  font-size: 0.8rem;
  color: #4a6580;
}

/*  */
.places {
  padding: 1rem;
}

.places > h1 {
  width: 100%;
  margin-bottom: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #696974;
}

.i-want-to-go {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  gap: 2rem 1.5rem;
}
.place-container {
  max-width: 285px;
  height: 400px;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 300ms ease;
}

@media (max-width: 1047px) {
  .i-want-to-go {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 910px) {
  .i-want-to-go {
    grid-template-columns: repeat(2, 20rem);
    gap: 2rem;
  }
  .place-container {
    min-width: 100%;
  }
}

.place-container:hover {
  box-shadow: 0 4px 20px -1px rgba(0, 0, 0, 0.2);
}

.place-container > img {
  width: 100%;
  height: 55%;
  object-fit: cover;
  margin-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  filter: brightness(70%);
}

.place-text-wrapper {
  width: 100%;
  height: 36%;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.place-text-wrapper > h2 {
  font-size: 1.2rem;
}

.places-tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
@media (max-width: 910px) {
  .i-want-to-go {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .place-container > img {
    height: 70%;
  }
  .place-text-wrapper {
    height: 20%;
  }
}

.places-tags > li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #edf2f7;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  cursor: pointer;
  cursor: pointer;
}
.places-tags > li > span {
  font-size: 0.785rem;
}

/* modal */
.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.overlay.active {
  display:block;
}

.login-modal {
  display: none;
  width: 350px;
  height: 270px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #ffff;
  padding: 1.5rem 1rem;
  flex-direction: column;
  gap: 1.3rem;
  border-radius: 5px;
}

.login-modal > label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login-modal > label > span {
  color: #000;
  font-weight: 500;
}

.login-modal > label > input {
  height: 35px;
  padding: 0.5rem;
  border: none;
  border: 1px solid #69697480;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.login-modal > label > input:focus {
  outline: 2px solid #38b2ac;
}

.login-modal > .close {
  display: flex;
  justify-content: end;
  cursor: pointer;
  transition: 100ms ease all;
}
.login-modal > .close:hover {
  color: #696974;
}

.login {
  width: 100px;
  padding: .8rem;
  border: none;
  background-color: #38b2ac;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.1rem;
}

.login-modal.active {
  display: flex;
}

@media (max-width: 455px){
  .login-modal{
    width: 70%;
  }
}
